
// Fonts


// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 400;
  background: #f2f2f2;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

small, .small {
    font-size: 80% !important;
    font-weight: 400;
}

*:not(label) {
  word-break: break-word;
}

.img {
  width: 100%;
}

.flex-grow {
  flex-grow: 1
}

blockquote {
    border-left: 10px solid #ccc;
    padding: 2rem 1rem !important;
    margin: 1rem 0 !important;
    background: #f5f5f5;
    font-size: 1.00rem;
    text-align: center;
    font-style: italic;
    position: relative;
    border-radius: 0.3rem;
}

.embeded iframe {
    background: white;
}

blockquote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 4rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

blockquote::after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1rem;
    margin-right: 1rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.embeded {
    display: flex;
    align-items: center;
}

.embeded *:first-child {
    display: inline-block !important;
    margin: auto !important;
}

.no-link {
  color: #444 !important;
  text-decoration: none !important;
  outline: none !important;
}

.nav1 {
  background: black;
  height: 32px;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  .nav-link {
    color: white;
    display: inline-block;
    padding: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .android {
    color: #A4C639;
  }
}

.has-nav {
  margin-top: 32px;
}

.nav2 {
  background: #fff;
  height: 60px;
  padding: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  font-family: 'Nunito', sans-serif;
  margin-top: 32px;
}

.nav-link {
  display: inline-block;
  color: #444;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &.selected {
    background: #ccc;
  }
}

.red {
  i, svg, &:hover, &.selected {
    color: #f44336;
  }
}

.blue {
  i, svg, &:hover, &.selected {
    color: #2196f3;
  }
}

.gold {
  i, svg, &:hover, &.selected {
    color: #ff9800;
  }
}

.green {
  i, svg, &:hover, &.selected {
    color: #4caf50;
  }
}

.black {
  i, svg, &:hover, &.selected {
    color: #000;
  }
}


.nav-link.dark {
  i, svg, &:hover, &.selected {
    color: #444;
  }
}


.more {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    top: 72px;
    right: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0;
    z-index: -1;
    &.show {
      opacity: 1;
      z-index: 1;
    }
    .nav-link {
      width: 100%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-bottom: none;
      }
    }
}

.menu .more {
  right: initial;
  left: 0;
}

.banner {
  &.home {
    height: 280px;
  }
  &.query {
    background-image: url(/img/funky-lines.png);
    background-size: 50%;
    margin-bottom: -7.5rem;
    font-size: 1.2rem;
  }
  &.query2 {
    background-image: url(/img/query2.png);
    background-size: 50%;
    margin-bottom: -7.5rem;
    font-size: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  background-image: url(/img/transparent-banner.png);
  background-size: cover;
  background-color: #03a9f4;
  overflow: hidden;
}

.logo-wrapper {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  color: white;
  padding-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.1rem;
}

.logo {
    background-repeat: no-repeat;
    background-position: left;
    background-size: 3rem;
    padding: 2rem;
    background-size: 60px;
    margin-right: 0.8rem;
    &.ios {
      background-image: url(/img/ios-white@3x.png);
    }
    &.apk {
      background-image: url(/img/apk-white@3x.png);
    }
}


.posts {
    margin-top: -135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.query {
      margin-top: -190px;
    }
}

.news-post {
    background: white;
    border-radius: 0.3rem;
    @include shadow-big();
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: inherit;
    i, svg {
      margin-right: 0.25rem;
      font-size: 0.3rem;
      opacity: 0.5;
    }
}

.type-image {
    padding: 1rem;
    background: rebeccapurple;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.type {
    font-size: 1rem;
    margin-right: 1rem;
}

.username, .time {
    font-size: 0.7rem;
    margin-right: 0.25rem;
    color: #aaa;
}

.tiny {
  color: #aaa;
  font-size: 0.4rem;
}

.image {
    max-height: 300px;
    overflow: hidden;
    margin: 0 -1rem;
}


.footer {
  padding: 1rem 0rem;
  .title {
    font-size: 1.6rem;
  }
  .mini {
    color: #444;
    text-decoration: none !important;
    outline: none !important;
  }
  .readmore {
    color: #2196F3;
    cursor: pointer;
  }
}

.totop {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    &.show {
      opacity: 1;
    }
}

.avatar {
  border: 1px solid white;
}

.socials a {
    color: #ccc;
    padding: 0.2rem;
    &:hover {
      cursor: pointer;
      color: #aaa;
    }
}

.locale-down {
  vertical-align: top;
}

.dashboard {
  .bottom-nav {
    background: white;
    border-top: 1px solid #ccc;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  display: flex;
  overflow: hidden;
  margin-top: -32px;
  padding-top: 32px;
  height: 100vh;
  .info {
    padding: 0 15px;
  }
  main {
    flex-grow: 1;
    min-width: 270px;
    padding-top: 0;
    overflow: auto;
  }
  .user {
    display: none;
    align-items: center;
    .info {
      font-size: 0.7rem;
      padding: 0.65rem;
      .username {
        font-weight: bold;
        font-size: 0.9rem;
        color: white;
      }
    }
  }
  .sidebar {
    height: 100vh;
    background: #24282e;
    color: white;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 16px;
    overflow: hidden;
    .label { display: none}
    a {
      color: white;
      text-decoration: none;
    }
    &.show {
      width: 250px;
      .user {display: flex}
      .user-icon {display: none}
      .label {display: inline-block}
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      font-size: 1rem;
      padding: 0.25rem 0.6rem;
      &:hover {
        background: #444a58;
        cursor: pointer;
      }
    }
    .icon {
      width: 30px;
      display: inline-block;
      text-align: center;
    }
  }
  &.has-bottom-nav {
    padding-bottom: 40px;
    .sidebar {
      padding-bottom: 56px;
    }
  }
}

.app {
  padding: 0.25rem;
  background: white;
  border: 1px solid #ccc;
  @include shadow-small();
  display: flex;
  border-radius: 0.25rem;
  position: relative;
  color: black !important;
  text-decoration: none !important;
  &:hover {
    cursor: pointer;
  }
  img {
    border-radius: 0.5rem;
  }
  .title {
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .short {
    height: 2.2rem;
    font-size: 0.8rem;
    color: #969696;
    line-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info {
    overflow: hidden;
  }
  .action {
    position: absolute;
    background: white;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    right: 0;
    top: 0;
    padding-right: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: -18px 0px 13px -2px white;
  }
}


.stat, .stat-wrapper {
  width: 100%;
  padding: 0 $grid-gutter-width / 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // &:first-child {
  //   padding-left: 0;
  // }
  // &:last-child {
  //   padding-right: 0;
  // }
  * {
    width: 100%;
  }
}

.checkbox-label {
  margin: 0;
  padding: 0;
}

.checkbox-label input {
  display: none;
}

.checkbox-label input ~ .check:hover {
  cursor: pointer;
  color: #007bff;
}

.checkbox-label input ~ .check {
    background: transparent;
    padding: 0.4rem 0.5rem;
    color: #444;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.checkbox-label input:checked ~ .check {
    background: #007bff;
    color: white;
    border: none;
}

.list-group-item-muted {
  opacity: 0.5;
}

.responsive-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.embed-content {
  width: 100%;
  max-width: 560px;
}

iframe.video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.story {
  h1,h2,h3,h4,h5,h6 { text-align: center }
  p, .embeded {
    margin-bottom: 3rem;
  }
  p{
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    word-break: break-all;
    hyphens: auto;
  }
  .ql-size-small {
    font-size: 0.75em;
  }
  .ql-size-large {
    font-size: 1.2em;
  }
  .ql-size-huge {
    font-size: 1.7em;
  }
  @function list($x) {
    $result: ();
      @for $j from $x through 8 {
        $result: append($result, list-#{$j + 1});
      }
    @return $result;
  }

  li {
      counter-reset: list(0);
      counter-increment: list-0;
      list-style-type: none;
  }
  ol li {
    &:before {
      content: counter(list-0, decimal) '. '
    }
  }
  ul li {
    &:before {
      content: counter(list-0, disc) ' '
    }
  }

  $ols: decimal lower-alpha lower-roman;
  $uls: disc circle square;
  @for $i from 1 through 8 {
      .ql-indent-#{$i} {
        margin-left: 3em * $i;
        counter-reset: list($i);
        counter-increment: list-#{$i};
      }
      ol .ql-indent-#{$i} {
        &:before {
          content: counter(list-#{$i}, nth($ols, ($i % 3) + 1)) '. '
        }
      }
      ul .ql-indent-#{$i} {
        &:before {
          content: counter(list-#{$i}, nth($uls, ($i % 3) + 1)) '. '
        }
      }
  }
}

.like {
  color: black;
  background: white;
  @include shadow-small();
  &:hover {
    cursor: pointer;
  }
  &:hover:not(.liked) {
    color: $red;
  }
  &.liked {
    background: $red;
    color: white;
  }
}

.btn-fancy {
    padding: 0.75rem 3rem;
    border-radius: 5rem;
    border: 2px solid white !important;
    box-shadow: 0px 0 0 1px #1685fe;
}

@include media-breakpoint-down(xs) {
  .logo-wrapper {
    font-size: 2rem;
    padding-top: 0.5rem;
  }
  .logo {
    background-size: 40px;
    margin-right: -0.5rem;
  }
  .posts {
    margin-top: -212px;
    padding: 0 0.5rem;
  }
  .container.phone {
    padding: 0;
  }
}

.stat {
  padding: 1rem;
  background: white;
  text-align: center;
  @include shadow-small();
}

.stats[min-width~="576px"] {
  .stat-wrapper {
    @include make-col(6);
  }
}

.stats[min-width~="768px"] {
  .stat-wrapper {
    @include make-col(3);
  }
}
